.background{
    width: 1440px;
    height: 900px;
    j

}
.box1{
   max-width: 250px;
   max-height: 300px;
   background-color: #BE0909;
   padding-top: 100px;
   padding-right: 310px;
   padding-bottom: 190px;
   padding-left: 50px;
   margin-left: 243px;
   margin-top: 153px;
   

   

}
.box1{
   width: 100%;
   height: 100%;
}
.name{
    width: 200px;
    height: 21px;
    margin-left : 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FEFFFF;
}

.full-name{
background-color: #BE0909;
/*border: none;*/
margin-left: 20px;
margin-top: 10px;
width: 200px;
border: none;
color: #FCFFFF;
letter-spacing: 0.1em;

}

.hr1{
width: 400px;
height: 0px;
margin-left: 20px;
border: 1px solid #9DBEBB;
margin-bottom: 20px;
}

.email{
width: 200px;
height: 72px;
margin-left: 20px;
margin-top: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #FCFFFF;
margin-bottom: 20px;


}
.your-email{
width: 200px;
height: 21px;
margin-left: 20px;
margin-top: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.1em;

color: #FDFFFF;
background-color: #BE0909;
border: none;

}
.hr2{
width: 400px;
height: 0px;
margin-left: 20px;
border: 1px solid #9DBEBB;
margin-bottom: 20px;

}
.messag-regarding{
    width: 200px;
    height: 21px;
    margin-left : 20px;
    margin-top: 20px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FEFFFF;
}

.input-field{
width: 400px;
height: 21px;
margin-left: 20px;
margin-top: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


text-transform: uppercase;

color: #FEFFFF;
background-color: #BE0909;
border: #BE0909;
}

.hr3{
    
    width: 400px;
    height: 0px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #9DBEBB;
    margin-bottom: 20px;


}

.message{
width: 400px;
height: 72px;
margin-left: 20px;
margin-top: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(254, 255, 255, 0.98);
margin-bottom: 20px;

}
.your-message{
width: 400px;
height: 21px;
margin-left: 20px;
margin-top: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.3em;

color: #FEFFFF;
background-color: #BE0909;
border: none;
margin-bottom: 40px;

}

.hr4{

width: 400px;
height: 0px;
margin-left: 20px;
margin-top: 20px;

border: 1px solid #9DBEBB;

}
.sumbit{
    width: 202px;
    height: 48px;
   margin-left: 90px;
    margin-top: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: rgb(210, 176, 176);
background: #468189;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
border-radius: 40px;
border: 1px solid #468189;;
}

.sumbit:hover{
    color: white;
}

    
.box2{
    position: absolute;
    width: 345px;
    height: 594px;
    left: 852px;
    top: 153px;

background: #FFB039;

}

.duck{
    position: absolute;
    width: 663px;
    height: 603px;
    left: 585px;
    top: 205px;
    
    background: url(hiclipart.png)
}
